.start-button {
  width: 50%;
  margin: auto;
  height: 50px;
  font-size: 24px;
  text-transform: uppercase;
  background: linear-gradient(rgb(250, 102, 56), rgb(217, 221, 15));
  border: none;
  box-shadow: 0px 8px 15px rgba(139, 95, 24, 0.5);
  transition: .3s;
  cursor: pointer;
  color: white
}

.start-button:active {
  box-shadow: none;
}

.start-button_repeat {
  width: 50px;
  border-radius: 50%;
  background-image: url('../../assets/images/rotate.svg');
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  background-color: orange;
}

.start-button_hide {
  height: 0;
  background: white;
}