* {
  box-sizing: border-box;
}
.page-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  background-color: #fcfcfc;
  box-sizing: border-box;
  position: relative;
}
.logo_hidden {
  visibility: hidden;
  width: 53px;
}
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 1800px;
  width: 88.4%;
  margin: auto;
  position: absolute;
  background-color: white;
  left: 78px;
  top: 24px;
  height: 91px;
  border: 1px solid #f0f0f0;
}


.main-heading {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.menu {
  margin-left: 6.6%;
  width: 800px;
}
.menu__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  width: 100%;
  justify-content: space-between;  
  padding: 0;
}
.menu__item {
  font-family: Rubik;
  font-size: 18px;
  color: #080029;
  text-decoration: none;
  fill: solid;
}
.menu__item:hover {
  text-decoration: underline;
}
.menu__item_bold {
  font-weight: 500;
  text-decoration: none;
}
.menu__item_bold:hover {
  text-decoration: none;
}
.profile-icon {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}
@media (max-width: 1919px) {

  .header {
    top: 23px;
    left: 41px;
    height: 70px;
    min-width: 1120px;
    width: 93%;
  }

  .logo__img {
    width: 42px;
  }
  .menu {
    margin-left: 8%;
    width: 678px;
  }
  .profile-icon {
    padding-right: 6.5%;

  }
  .profile__img {
    width: 40px;
  }
}

.sidebar {
  position: fixed;
  top: 50px;
  margin-left: 61px;
  width: 88px;
  height: 735px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
}

.logo {
  text-align: center;
}
.sidebar__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 485px;
  margin-top: 27px;
  margin-bottom: 25px;
}
.sidebar__up {
  margin-top: 20px;
}
.sidebar__circle {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #d9e8ff;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.5s;
}
.sidebar__circle:hover {
  border: 1px solid #609fff;
}

.aside-img {
  margin: auto;
}
.sidebar__down,
.sidebar__up {
  transition: 0.5s;
}
.sidebar__down:hover,
.sidebar__up:hover {
  transform: scale(0.8);
}
@media (max-width: 1919px) {
  .sidebar {
    margin-left: 40px;
    top: 23px;
    width: 70px;
    height: 620px;
  }
  .sidebar__link {
    display: flex;
    width: 100%;
    height: 66px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .sidebar__circle {
    width: 45px;
    height: 45px;
  }
  .logo {
    height: 70px;
  }
  .logo__img {
    margin: auto;
    height: 100%;
  }
  .sidebar__up {
    margin-top: 0;
    width: 66px;
  }
  .sidebar__down  {
    width: 100%;
  }
  .sidebar__list {
    height: 416px;
    margin: 0;
  }
}

.map {
  max-width: 100%;
}
.zoogeography__marker {
  transition: 0.5s;
}
.tiny-eagle {
  height: 49px;
}
.zoogeography__marker {
  position: absolute;
  width: 77px;
  height: 77px;
  border-radius: 77% 77% 0% 111% / 77% 134% 0% 77%;
  transform: rotate(45deg);
  background-color: white;
  top: 0;
  border: 1px solid #fff;
}
.zoogeography__marker-img {
  transform: rotate(-45deg);
  margin-left: 17px;
  margin-top: 13px;
}
.zoogeography__eagle-marker {
  top: 24%;
  left: 13.3%;
  transform: rotate(45deg); 
  display: none; 
}

.zoogeography__marker:hover {
  transform: rotate(45deg) scale(1.3);
  border: 1px solid #609fff;
}

.tiny-eagle {
  height: 49px;
}
.zoogeography__alligator-marker {
  top: 205px;
  left: 255px;
}

.zoogeography__gorilla-marker {
  top: 51.5%;
  left: 49.5%;
  transform: rotate(45deg) scale(1.3);
  border: 1px solid #609fff;
}
.zoogeography__panda-marker {
  left: 85%;
  top: 28%;
}

.zoogeography__marker-img {
  height: 53px;
}
.panda-cmn {
  margin-left: 16px;
  margin-top: 20px;
  height: 44px;
}
.animal-card {
  position: absolute;
  width: 344px;
  height: 512px;
  border-radius: 15px;
  background-color: white;
  top: 28%;
  left: 30.3%;
}
.animal-card__img {
  border-radius: 15px 15px 0 0;
}

.animal-card__title {
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #0f0049;
  margin-top: 15px;
  margin-bottom: 1px;
}
.animal-card__text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 7px;
}
.animal-card__button {
  margin-left: 11px;
}
.animal-card__link {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: #3888ff;
  display: flex;
  justify-content: center;
}
.animal-card__link:hover {
  text-decoration: underline;
}
.animal-card__link-arrow {
  margin-left: 12px;
}

@media (max-width: 1919px) {

  .map {
    width: 100%;
  }
  .animal-card {
    width: 292px;
    height: 448px;
    top: 29%;
  }
  .animal-card__title {
    font-size: 28px;
    line-height: 41px;
  }
  .animal-card__text {
    font-size: 16px;
    line-height: 25px;
    width: 271px;
    margin: 17px auto 3px;
  }
  .animal-card__link-text {
    font-size: 16px;
    line-height: 19px;
  }
  .animal-card__br {
    display: none;
  }
  .zoogeography__marker {
    height: 53px;
    width: 53px;
  }
  .zoogeography__marker-img {
    height: 38px;
    margin-left: 10px;
    margin-top: 7px;
  }
  .zoogeography__eagle-marker {
    display: block;
    top: 13%;
    left: 0%;
  }
  .zoogeography__alligator-marker {
    top: 36%;
    left: 18.8%;

  }
  .zoogeography__gorilla-marker {
    top: 56%;
    left: 56.2%;
  }
  .zoogeography__panda-marker {
    top: 40%;
    left: 92%;
  }
  .panda-cmn {
    height: 30px;
    margin-left: 7px;
    margin-top: 11px;
}
  }


}