.button {
  border-radius: 5px;
  font-size: 14px;
  cursor: not-allowed;
  color: black;
  border: 2px solid black;
  transition: 0.2s;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.box-shadow {
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  cursor: pointer;
}

.button:active {
  box-shadow: none;
}

.track__car-wrap {
  width: 100px;
  height: 50px;
  position: absolute;
  top: -5px;
  left: 0;
  transition: 0s;
  transition-timing-function: ease-in;
}

.track__car {
  fill: black;
  width: 100%;
  height: 100%;
}

/* .move {
  animation-duration: 0ms;
  animation-name: move_car;
  animation-timing-function: ease-in;
}

@keyframes move_car {
  from {left: 0;}
  to {left: 1000px}
} */

.winners__table table {
  border-collapse: collapse;
}

.winners__table th {
  color: #242321;
  background: #e6f510;
  cursor: pointer;
}

.winners__table td,
.winners__table th {
  width: 150px;
  height: 40px;
  text-align: center;
  border: 2px solid #333232;
}

.winners__table tbody tr:nth-child(even) {
  background: #e3e3e3;
}

th.sorted[data-order='1'],
th.sorted[data-order='-1'] {
  position: relative;
}

th.sorted[data-order='1']::after,
th.sorted[data-order='-1']::after {
  right: 8px;
  position: absolute;
}

.table__car {
  position: static;
  margin: auto;
}

.header {
  display: flex;
}

.track__car-name {
  margin-left: 10px;
}

.selected {
  outline: 2px solid green;
}

.track {
  margin-top: 10px;
}

.track__selection-wrap {
  display: flex;
  justify-content: start;
}

.track__control-wrap {
  display: flex;
  justify-content: space-between;
}

.track__control-buttons {
  width: 150px;
  display: flex;
}

.track__race {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed grey;
}

.track__flag-wrap {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -16px;
  right: 100px;
}

.track__flag {
  width: 100%;
  height: 100%;
}

.input {
  font-size: 18px;
  outline: none;
}

.form {
  display: flex;
}

.control-buttons {
  display: flex;
}


.winner-window {
  width: 400px;
  position: absolute;
  left: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 150px;
  top: 3%;
  white-space: pre-wrap;
}

.pagination-wrap {
  display: flex;
  margin-top: 20px;
}

* {
  margin: 0;
}

body {
  padding: 10px;
}

.hidden {
  display: none;
}

