
.switch{
  position: absolute;
  top: 50px;
  right: 100px;
  -webkit-appearance: none;
  background: linear-gradient(green, rgb(37, 180, 8));
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}
.switch::after {
  top: 2px;
  left: 2px;
  content: '';
  width: 46px;
  height: 46px;
  background-color: aliceblue;
  position: absolute;
  border-radius: 5px;
  transition: .3s;
  }
.switch:checked {
  background: linear-gradient(rgb(250, 102, 56), rgb(217, 221, 15));
  }
.switch:checked::after {
  transform: translateX(100px);
  }
.switch::before {
  content: "train";
  position: absolute;
  top: 4px;
  left: 59px;
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  }
  .switch:checked::before {
    content: "play";
    left: 15px;
    top: 4px
  }

.switch:focus {
  outline-color: transparent;
}
