.track__car-wrap {
  width: 100px;
  height: 50px;
  position: absolute;
  top: -5px;
  left: 0;
  transition: 0s;
  transition-timing-function: ease-in;
}

.track__car {
  fill: black;
  width: 100%;
  height: 100%;
}

/* .move {
  animation-duration: 0ms;
  animation-name: move_car;
  animation-timing-function: ease-in;
}

@keyframes move_car {
  from {left: 0;}
  to {left: 1000px}
} */
