* {
  box-sizing: border-box;
}
.page-wrapper {
  margin: 0 auto;
  padding: 0;
  background-color: #fcfcfc;
  box-sizing: border-box;
}
.page-wrapper__content {
  margin: 0 auto;
  padding-top: 44px;
}
.logo_hidden {
  visibility: hidden;
}
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto;
  border: 2px solid #f0f0f0;
  max-width: 1920px;
  padding-left: 57px;
  padding-right: 162px;
}
.main-heading {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.menu {
  margin-left: 102px;
  width: 800px;
}
.menu__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  width: 100%;
  justify-content: space-between;  
  padding: 0;
}
.menu__item {
  font-family: Rubik;
  font-size: 18px;
  color: #080029;
  text-decoration: none;
  fill: solid;
}
.menu__item:hover {
  text-decoration: underline;
}
.menu__item_bold {
  font-weight: 500;
}
.menu__item_bold:hover {
  text-decoration: none;
}
.profile-icon {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}
.burger-menu {
  display: none;  
  flex-grow: 2; 
  justify-content: flex-end; 
}
.burger-menu__img {
  width: 55px;
}

@media (max-width: 1480px) {

.page-wrapper__content {
  padding-top: 32px;
}
.header {
  padding-right: 108px;
  padding-left: 48px;
  }
.menu {
  margin-left: 83px;
  width: 680px;
}  
  
.profile-icon__img {
  width: 42px;
}

}

@media (max-width: 768px) {

  .header {
    padding-left: 13px;
    padding-right: 21px;
  }
  .burger-menu {
    display: flex;
  }
  .profile-icon {
    display: none;
  }
  .menu {
    display: none;
  }
  .logo_hidden {
    visibility: visible;
    width: 49px;
    padding-top: 3px;
  }

}


.sidebar {
  position: sticky;
  height: 638px;
  width: 69px;
  z-index: 1;
  top: 44px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 39px;
  margin-top: -52px;
  background-color: #fcfcfc;
  border: 1px solid #f0f0f0;
}
.sidebar__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 176px;
  margin-top: 190px;
}
.logo__img {
  width: 100%;
}
@media (max-width: 1480px) {
  .sidebar {
    height: 566px;
  }
  .sidebar__list {
    height: 144px;
    margin-top: 165px;
  }
  .logo {
    width: 42px;    
  }
  .sidebar__img {
    width: 18px;
  }
  .sidebar__arrow {
    width: 42px;
    margin-bottom: 55px;
  }
}

@media (max-width: 768px) {

  .sidebar {
    display: none;
  }

}

.sidebar__img {
  transition: 0.5s;
}
.sidebar__img:hover {
  transform: scale(1.5);
}
.sidebar__arrow:hover {
  transform: scale(1.5);
}

.wild-park,
.how-works,
.pay-feed__wrapper-1,
.pay-feed__wrapper-2,
.famous-pets__wrapper,
.zoogeography,
.testimonials__wrapper,
.footer-wrapper,
.happy-animals {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
  padding-left: 12.7%;
  padding-right: 12.7%;
}
.wild-park {
  padding-top: 68px;  
  margin-top: -587px;
  max-width: 1920px;
  justify-content: left;
  padding-left: 11.4%;
  padding-right: 11.7%;
}
.wild-park__text {
  padding-top: 61px;
  /* padding-left: 92px; */
  width: 50%;
  
}
.wild-park__text-ı {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.wild-park__text-i {
  display: inline-block;
}
.wild-park__text-dot {
  display: block;
  line-height: 0;
  color: rgb(255, 0, 21);
}
.wild-park__header {
  font-family: Rubik;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #626262;
  margin: 0;
  margin-top: 16px;
}
.wild-park__offer {
  font-family: Merriweather;
  font-style: Bold;
  font-size: 84px;
  line-height: 106px;
  color: #080029;
  margin-top: 25px;
  margin-bottom: 61px;
}
.wild-park__online {
  white-space: nowrap;
}

.wild-park__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 568px;
}
.wild-park__link-choose {
  width: 44%;
}
.wild-park__link-watch {
  width: 45.5%;
}
.wild-park__choose-button {
  
  height: 56px;
  width: 100%;
  border-radius: 5px;
  background-color: #0f0049;
  display: flex;
}
.wild-park__choose-button:hover {
  background: #080029;
}
.wild-park__choose-button:active {
  background: #150068;
}
.wild-park__watch-button {
  width: 100%;
  height: 56px;
  border: 2px solid #080029;
  border-radius: 5px;
  display: flex;
}
.wild-park__watch-button:hover {
  border-color: #0f0049;
}
.wild-park__watch-button:active {
  border-color: #3888ff;
}
.wild-park__link {
  text-decoration: none;
}
.wild-park__button-text {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  margin: auto;
  color: white;
  text-decoration: none;
  font-family: Rubik;
  font-size: 18px;
}
.wild-park__button-text_color {
  color: #080029;
}
.wild-park__img-wrap {
  height: 673px;
  max-width: 696px;
  max-height: 673px;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.wild-park__img {
  border-radius: 5px; 
   
}
@media (max-width: 1919px) {
  .wild-park__text {
    margin-right: 10px;
  }
}
@media (max-width: 1480px) {

  .wild-park {
    margin-top: -515px;
    padding-right: 40px;
    padding-left: 185px;
  }
  .wild-park__text {
    padding-top: 27px; 
    margin-right: 87px;   
  }
  .wild-park__header {
    letter-spacing: 2.4px;
  }
  .wild-park__offer {
    font-size: 56px;
    line-height: 70px;
    margin-top: 33px;
    margin-bottom: 49px;
  }
  .wild-park__buttons {
    max-width: 465px;
  }
  .wild-park__link-watch {
    min-width: 46.5%;
  }
  .wild-park__watch-button,
  .wild-park__choose-button {
    height: 51px;
  }
  .wild-park__button-text {
    font-size: 16px;
    line-height: 19px;
  }

}


@media (max-width: 768px) {

  .wild-park {
    margin-top: 0;
    padding-left: 19px;
    padding-right: 23px;
    padding-top: 45px;
  }
  .wild-park__text {
    margin-right: 6%;
  }
  .wild-park__offer {
    font-size: 42px;
    line-height: 53px;
    margin-bottom: 41px;
  }
  .wild-park__buttons {
    width: 470px;
  }
  .wild-park__watch-button {
    display: none;
  }
  .wild-park__img-wrap {
    margin-top: 34px;
  }
  .wild-park__img {
    padding-top: 20%;
    padding-left: 2%;
  }
}


@media (max-width: 1480px) {

  .wild-park__img-wrap  {
    max-width: 400px;
    max-height: 456px;
}
}
@media (max-width: 640px) {

  .wild-park__img-wrap {
    max-width: 263px;
    max-height: 326px;
  }

}

.how-works {
  padding-top: 137px;  
  padding-bottom: 111px;
  padding-left: 11.2%;
}
.how-works__img-wrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-right: 15.3%;
  width: 51.5%;
  height: 760px;
}
.how-works__img {
  width: 100%;
  border-radius: 5px;
}
.how-works__info {
  width: 50%;
  padding-top: 122px;  
}
.how-works__header {
  font-family: Rubik;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
  font-style: normal;
  font-weight: normal;
}
.how-works__first-info {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
  margin-top: 50px;
}
.how-works__second-info {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
  margin-top: 41px;
  margin-bottom: 61px;
}
.how-works__link {
  text-decoration: none;
}
.how-works__button {
  width: 218px;
  height: 61px;
  background: #0f0049;
  border-radius: 5px;
  display: flex;
}
.how-works__button:hover {
  background: #080029;
}
.how-works__button:active {
  background: #150068;
}
.how-works__button-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
  margin: auto;
}
@media (max-width: 1480px) {
  .how-works {
    padding-top: 200px;
    padding-right: 3%;
    padding-left: 15%;
    padding-bottom: 100px;
  }
  .how-works__img-wrap {
    height: 585px;
    padding-right: 0;
    width: 41.1%;
  }
  .how-works__info {
    width: 56%;
    padding-top: 40px;
    padding-left: 0px;
  }
  .how-works__first-info {
    font-size: 28px;
    line-height: 41px;
    margin-top: 43px;
  }
  .how-works__second-info {
    font-size: 16px;
    line-height: 25px;
    margin-top: 36px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {

  .how-works {
    padding-top: 63px;
    padding-left: 0px;
    padding-right: 7px;
    padding-bottom: 77px;
    display: flex;
    flex-direction: column;
  }
  .how-works__img-wrap {
    order: 1;
    width: 61%;
    margin: 59px auto 0;
    height: 391px;
  }
  .how-works__info {
    margin: 0 auto;
    width: 86%;
  }
  .how-works__header {
    letter-spacing: 2.5px;
    text-align: center;
  }
  .how-works__first-info {
    text-align: center;
    font-size: 26px;
    line-height: 38px;
    
  }
  .how-works__second-info {
    margin-top: 31px;
    margin-bottom: 40px;
    text-align: center;
  }
  .how-works__button {
    margin: auto;
    width: 210px;
    height: 59px;
  }

}

.famous-pets {
  background-color: #d9e8ff;
  padding-top: 82px;
  padding-bottom: 82px;
}
.famous-pets__wrapper {
  padding-left: 7%;
  padding-right: 12.6%;
}
.famous-pets__text {
  padding-top: 217px;
  padding-left: 5.2%;
  width: 25%;
}
.famous-pets__images-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 72%;
  height: 733px;
}

.famous-pets__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
}
.famous-pets__info {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
  margin-top: 50px;
  margin-bottom: 54px;
}
.famous-pets__arrow {
  margin-right: 15px;
}
.famous-pets__arrow:hover {
  opacity: 0.8;
}

.famous-pets__image-wrap {
  margin: auto;
  width: 328px;
  height: 328px;
  overflow: hidden;
}
.famous-pets__image-inner-wrap {
  background-color: black;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.famous-pets__image {
  border-radius: 5px;
  width: 100%;
  transition: 1s;
  display: block;
}

.famous-pets__image-inner-wrap:hover .famous-pets__image {
  transform: scale(1.2);
  opacity: 0.8;
  filter: blur(1px);
}

.famous-pets__image-inscription {
  position: absolute;
  top: 49%;
  left: 35.5%;
  transition: 0.5s;
}
.famous-pets__image-text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #fcfcfc;
  margin-top: 42px;
  transition: 0.4s;
}
.famous-pets__image-inner-wrap:hover .famous-pets__image-text {
  opacity: 0;
}
.famous-pets__image-circle {
  width: 76px;
  height: 76px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin-left: 14px;
  transition: 0.5s;
}
.famous-pets__image-inner-wrap:hover .famous-pets__image-circle {
  transform: scale(3.2) translateY(-15px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
}
.famous-pets__image-cross {
  padding-left: 16px;
  transition: 0.5s;
  margin-top: 23px;
  margin-left: 9px;
}
.famous-pets__image-inner-wrap:hover .famous-pets__image-cross {
  opacity: 0;
}
.famous-pets__image-hidden-text {
  position: absolute;
  text-align: center;
  top: 111px;
  left: 67px;
  width: 199px;
  opacity: 0;
  transition: 0.5s;
}
.famous-pets__image-inner-wrap:hover .famous-pets__image-hidden-text {
  opacity: 1;
}
.famous-pets__image-hidden-habitat {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #fcfcfc;
}
.famous-pets__image-hidden_new {
  display: none;
}
.famous-pets__image-hidden-follow {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fcfcfc;
  display: inline-block;
  position: absolute;
  top: 155px;
  left: 59px;
}
.famous-pets__image-hidden-arrow {
  margin-left: 16px;
  position: absolute;
  top: 176px;
  left: 116px;
}

@media (max-width: 1919px) {
  .famous-pets__image-wrap-3,
  .famous-pets__image-wrap-6 {
    display: none;
  }

}
@media (max-width: 1200px) {

  .famous-pets__image-wrap {    
    width: 258px;
    height: 258px;
  }
  .famous-pets__text {
    width: 43%;
    padding-left: 10.4%;
    padding-top: 120px;
  }
  .famous-pets__header {
    letter-spacing: 1.2px;
  }
  .famous-pets__images-wrap {
    height: 573px;
    width: 73%;
  }
  .famous-pets__info { 
    font-size: 28px;
    line-height: 41px;
    margin-bottom: 31px;
  }
  .famous-pets__arrow {
    width: 56px;
    height: 56px;
  }
  .famous-pets__image-inscription {
    left: 34%;
    top: 51%;
  }
  .famous-pets__image-circle {
    width: 59px;
    height: 59px;
  }
  .famous-pets__image-text {
    margin-top: 33px;
  }
  .famous-pets__image-cross {
    margin-top: 17px;
    margin-left: 3px;
    width: 36px;
  }
  .famous-pets__image-hidden-habitat {
    font-size: 16px;
  }
  .famous-pets__image-hidden-text {
    top: 32%;
    left: 12%;
  }
  .famous-pets__image-hidden-follow {
    top: 191%;
  }
  .famous-pets__image-hidden-arrow {
    top: 223%;
    left: 53%;
  }
  .famous-pets__image-hidden-follow_eagle {
    top: 134%;
  }
  .famous-pets__image-hidden-arrow_eagle {
    top: 157%;
  }
  .famous-pets__image-hidden-arrow_penguin {
    top: 154%;
  }
  .famous-pets__image-hidden-follow_penguin {
    top: 131%
  }
  .famous-pets__image-hidden-habitat_none {
    display: none;
  }
  .famous-pets__image-hidden_new {
    display: block;
  }
}
@media (max-width: 1199px) {

  .famous-pets {
    padding-top: 39px;
    padding-bottom: 66px;
  }
  .famous-pets__wrapper {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .famous-pets__text {
    margin: 0 auto;
    padding-top: 3px;
    padding-left: 0;
    text-align: center;
    width: 31%;
  }
  .famous-pets__info {
    margin-top: 34px;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 36px;
  }
  .famous-pets__header {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.115em;
    text-align: center;
  }
  .famous-pets__images-wrap {
    width: 99.2%;
    height: 414px;
    margin: 55px auto 0;
  }
  .famous-pets__image-wrap {
    width: 180px;
    height: 180px;
  }
  .famous-pets__image-wrap-3,
  .famous-pets__image-wrap-6 {
    display: block;
  }
  .famous-pets__image-inscription {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
  }
  .famous-pets__image-circle {
    width: 41px;
    height: 41px;
    margin: 91px auto 0;
    
  }
  .famous-pets__image-inner-wrap:hover .famous-pets__image-circle {
    transform: scale(3.2) translateY(-10px);
  }
  .famous-pets__image-cross {
    width: 30px;
    margin-top: 12px;
    margin-left: -3px;
  }
  .famous-pets__image-text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 18px;
    height: 122px;
    width: 100%;
  }
  .famous-pets__image-hidden-habitat {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 133px;
    top: 24%;
  }
  .famous-pets__image-inner-wrap:hover .famous-pets__image-circle_big {
    transform: scale(3.6) translateY(-8px);
  }
  .famous-pets__image-hidden-follow {
    top: 77px;
    left: 31px;
  }
  .famous-pets__image-hidden-arrow {
    top: 98px;
    left: 80px;
  }

}

.pay-feed {
  padding-top: 78px;
  margin: 0 auto;  
}
.pay-feed__wrapper-1,
.pay-feed__wrapper-2 {
  display: flex;
  justify-content: flex-start;
  padding-left: 18.9%;
}
.pay-feed__safe {
  padding-top: 63px;
  padding-left: 4.2%;
}
.pay-feed__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0b0b0b;
  margin-left: 21%;
  padding-top: 3px;
}
.pay-feed__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 32px;
  margin-left: 72px;
}
.pay-feed__subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #0f0049;
  margin-bottom: 10px;
}
.pay-feed__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
  width: 449px;
  margin-bottom: 38px;
}
.pay-feed__text_br {
  display: none;
}
.pay-feed__text_margin {
  margin-top: 30px;
}
.pay-feed__wavy-arrow {
  width: 207px;
  margin-left: 104px;
}
.pay-feed__curled-arrow {
  padding-top: 159px;
  padding-left: 24.7%;
}
.pay-feed__parcel {
  margin-left: 26px;
  padding-top: 14px;
}
.pay-feed__delivery-text {
  padding-top: 84px;
  margin-left: 57px;
}
.happy-animals {
  display: flex;
  padding-top: 14px;
  padding-left: 11.2%;
  padding-bottom: 97px;
  justify-content: flex-start;
}
.happy-animals__tea-drinking-text {
  padding-top: 6px;
  margin-left: 55px;
  max-width: 514px;
}
.happy-animals__text_margin {
  margin-top: 30px;
  width: 461px;
}
@media (max-width: 1919px) {
  
  .pay-feed__wrapper-1 {
    padding-left: 28.4%;
  }
  .pay-feed__wrapper-2 {
    padding-left: 28.5%;
    padding-right: 8%;
  }
  .pay-feed__wavy-arrow,
  .pay-feed__curled-arrow {
    display: none;
  }
  .pay-feed__safe {
    width: 215px;
    padding-top: 98px;
    padding-left: 0;
  }
  .pay-feed__safe-img,
  .happy-animals__tea-drinking-img,
  .pay-feed__parcel-img {
    width: 100%;
  }  
  .pay-feed__parcel,
  .happy-animals__tea-drinking {
    width: 242px;
  }
  .pay-feed__info {
    padding-top: 84px;
    margin-left: 8.8%;
  }
  .pay-feed__header {
    margin-left: 15.5%;
    letter-spacing: 1.3px;
  }
 .pay-feed__subtitle {  
  font-size: 28px;
  line-height: 41px;
  margin-bottom: 2px;
 } 
.pay-feed__text {  
  font-size: 16px;
  line-height: 25px;
  max-width: 428px;
}
.pay-feed__parcel {
  padding-top: 12%;
  margin-left: -13px;
}
.pay-feed__delivery-text {
  padding-top: 17%;
  margin-left: 44px;
}
.pay-feed__text_margin {
  margin-top: 21px;
  min-width: 448px;
}
.happy-animals {
  padding-left: 27.5%;
  padding-top: 102px;
  padding-bottom: 134px;
}
.happy-animals__tea-drinking-text {
  margin-left: 6.4%;
  padding-top: 3px;
  max-width: 389px;
}
.happy-animals__text_margin {
  margin-top: 18px;
  max-width: 452px;
}

}
@media (max-width: 1199px) {

  .pay-feed {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 62px;
  }
  .pay-feed__header {
    margin-left: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.115em;
  }
  .pay-feed__wrapper-1 {
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
  }
  .pay-feed__wrapper-2 {
    flex-direction: column;
  }
  .pay-feed__safe {
    width: 164px;
    margin: 0 auto;
    padding-top: 71px;
  }
  .pay-feed__subtitle {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0em;        
  }
  .pay-feed__subtitle_last {
     margin: 24px auto;
     width: 302px;
  }
  .pay-feed__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 24px;
  }
  .pay-feed__info {
    padding-top: 28px;
    margin: 0;
  }
  .pay-feed__text_br {
    display: inline;
  }
  .pay-feed__wrapper-2 {
    padding: 0;
  }
  .pay-feed__parcel {
    width: 177px;
    padding-top: 24px;
    margin: 0 auto;
  }
  .pay-feed__delivery-text {
    margin: 0;
    padding-top: 3px;
  }
  .happy-animals {
    flex-direction: column;
    padding-left: 0;
    padding-top: 21px;
    margin: 0 auto;
    padding-right: 0; 
    padding-bottom: 64px;  
  }
  .happy-animals__tea-drinking-text {
    margin: 0 auto;
    max-width: 515px;
  }
  .happy-animals__tea-drinking {
    margin: 0 auto;
  }
}

.testimonials {
  background-color: #080029;  
}
.testimonials__wrapper {
  padding-left: 6.5%;
  padding-top: 4.5%;
  padding-right: 4%;
  padding-bottom: 94px;
}
.testimonials__text {
  width: 35%;
  padding-left: 90px;
}
.testimonials__reviews-wrapper {
  padding-top: 21px;
  width: 66%;
}
.testimonials__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
}
.testimonials__subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #fcfcfc;
  margin-top: 64px;
  margin-bottom: 38px;
}
.testimonials__info {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #fcfcfc;
  margin-bottom: 62px;
}
.testimonials__br {
  display: none;
}
.testimonials__br_640 {
  display: none;  
}
.testimonials__feedback-link {
  text-decoration: none;
}
.testimonials__feedback-button {
  height: 61px;
  width: 286px;
  border-radius: 5px;
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  background-color: #fff;
  background: #080029;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #fcfcfc;
}
.testimonials__feedback-button:hover {
  background: #0f0049;
}
.testimonials__feedback-button:active {
  background: #150068;
}
.testimonials__see-more-button {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #fcfcfc;
  margin-left: 64px;
}
.testimonials__see-more-button:hover {
  text-decoration: underline;
}
.testimonials__see-more-arrow {
  margin-left: 4px;
}
.testimonials__reviews {
  display: flex;
  margin-top: 25px;
}
.testimonials__review {
  height: 273px;
  width: 534px;
  border-radius: 15px;
  background-color: #fcfcfc;

}
.testimonials__review_margin {
  margin-left: 62px;
  margin-right: 38px;
}
.testimonials__review-heading {
  display: flex;
  padding-left: 45px;
  padding-top: 14px;
}
.testimonials__review-avatar {
  margin-right: 17px;
}
.testimonials__review-name {
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #0b0b0b;
}
.testimonials__review-text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #181818;
  margin-top: 6px;
  padding-left: 41px;
  padding-right: 44px;
}
.testimonials__arrows-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-left: 63px;
  width: 149px;
}
.testimonials__arrow:hover {
  opacity: 0.5;
}
@media (max-width: 1480px) {

  .testimonials__wrapper {
    padding-top: 91px;
    padding-left: 8%;
    padding-bottom: 80px;
  }
  .testimonials__text {
    width: 53%;
  }
  .testimonials__review_none {
    display: none;
  }
  .testimonials__header {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.115em;
  }
  .testimonials__subtitle {
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 0em;
    margin-top: 39px;
    margin-bottom: 41px;
  }
  .testimonials__info {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
  }
  .testimonials__br {
    display: inline;
  }
  .testimonials__see-more-button {
    margin-left: 43px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .testimonials__review {
    width: 454px;
    height: 235px;    
  }
  .testimonials__reviews {
    margin-top: 22px;
  }
  .testimonials__review-heading {
    padding-left: 32px;
    padding-top: 18px;
  }
  .testimonials__review_margin {
    margin-left: 42px;
  }
  .testimonials__review-name {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
  }
  .testimonials__review-text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
    margin-top: 15px;
    padding-left: 30px;
  }
  .testimonials__arrows-wrapper {
    margin-left: 39px;
    width: 134px;
    margin-left: 39px;
  }
  .testimonials__arrow {
    width: 56px;
    height: 56px;
  }

}
@media (max-width: 1199px) {
  .testimonials__wrapper {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 64px;
    padding-bottom: 0;
  }
  .testimonials__text {
    padding-left: 0;
    margin: 0 auto;
    width: 100%;
  }
  .testimonials__header {
    text-align: center;
  }
  .testimonials__subtitle {
    margin-top: 34px;
    text-align: center;
    margin-bottom: 35px;
  }
  .testimonials__info {
    max-width: 389px;
    margin: 0 auto;
    text-align: center;
  }
  .testimonials__br {
    display: none;
  }
  .testimonials__br_640 {
    display: inline;
  }
  .testimonials__feedback-button {
    margin: 51px auto 0;
  }
  .testimonials__reviews-wrapper {
    text-align: center;
    margin: 0 auto;
    padding-top: 79px;
    padding-bottom: 98px;
    width: 100%;
  }
  .testimonials__see-more-button {
    margin: 0 auto;
  }
  .testimonials__reviews {
    margin-top: 31px;
    max-width: 540px;
    margin: 31px auto;
  }
  .testimonials__arrows-wrapper {
    margin: 0 auto;
  }
}

.zoogeography {
  padding-top: 53px;
  padding-left: 11.3%;
  padding-bottom: 105px;
  padding-right: 5.5%;
}
.zoogeography__description {
  padding-top: 33px;
}
.zoogeography__card {
  padding-top: 42px;
  height: 512px;
}
.zoogeography__header {
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.115em;
  text-align: left;
  color: #000;
}
.zoogeography__card-img {
  border-radius: 15px 15px 0 0;
}
.zoogeography__card-title {
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #080029;
  margin-top: 17px;
  margin-bottom: 13px;
}
.zoogeography__card-text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #747474;  
  width: 267px;
  margin: 19px auto 52px;
}
.zoogeography__watch-button {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #3888ff;
  text-decoration: none;
  padding-left: 113px;
}
.zoogeography__watch-arrow {
  margin-left: 5px;
}
.zoogeography__map {
  margin-left: 24px;
  position: relative;
  max-width: 1216px;
}
.zoogeography__map-img {
  width: 100%
}
.zoogeography__marker {
  transition: 0.5s;
}

.zoogeography__marker {
  position: absolute;
  width: 73px;
  height: 73px;
  border-radius: 77% 77% 0% 111% / 77% 134% 0% 77%;
  transform: rotate(45deg);
  background-color: white;
  top: 0;
  border: 1px solid #fff;
}
.zoogeography__marker-img {
  transform: rotate(-45deg);
  margin-left: 17px;
  margin-top: 13px;
}
.zoogeography__eagle-marker {
  top: 25%;
  left: 11.5%;
  transform: rotate(45deg) scale(1.4);
  border: 1px solid #609fff;
}

.zoogeography__marker:hover {
  transform: rotate(45deg) scale(1.4);
  border: 1px solid #609fff;
}

.tiny-eagle {
  height: 49px;
}
.zoogeography__alligator-marker {
  top: 30%;
  left: 22.2%;
}

.zoogeography__gorilla-marker {
  top: 48.3%;
  left: 48.4%;
}
.zoogeography__panda-marker {
  left: 74.6%;
  top: 28.3%;
}
.panda-cmn {
  margin-left: 16px;
  margin-top: 20px;
}
@media (max-width: 1480px) {

  .zoogeography {
    padding-top: 50px;
    padding-left: 15.5%;
    padding-right: 3.3%;
    padding-bottom: 73px;
  }
  .zoogeography__header {
    letter-spacing: 1px;
  }  
  .zoogeography__card {
    width: 292px;
    padding-top: 36px;
  }  
  .zoogeography__card-img {
    width: 100%;
  }
  .zoogeography__card-title {
    margin-top: 18px;
    font-size: 28px;
    line-height: 41px;
  }
  .zoogeography__card-text {
    font-size: 16px;
    line-height: 25px;
    margin: 16px auto 43px;
  }
  .zoogeography__watch-button {
    font-size: 16px;
    line-height: 19px;
    padding-left: 91px;
  }
  .zoogeography__map {
    padding-top: 133px;
    margin-left: 10px;
  }
  .zoogeography__marker {
    width: 37px;
    height: 37px;
  }
  .zoogeography__marker-img {
    width: 21px;
    margin-left: 8px;
    margin-top: 7px;
  }
  .panda-cmn {    
    margin-top: 9px;
  }
  .tiny-eagle {
    margin-left: 7px;
    margin-top: -7px;
  }
  .zoogeography__eagle-marker {
    top: 39%;
  }
  .zoogeography__alligator-marker {
    top: 42%;
  }
  .zoogeography__gorilla-marker {
    top: 50%;
    left: 46%;
  }
  .zoogeography__panda-marker {
    top: 40.5%;
    left: 73%;
  }

}

@media (max-width: 1199px) {

  .zoogeography {
    display: flex;
    flex-direction: column;
    padding: 78px 0 356px;
    margin: 0 auto;
    position: relative;
  }
  .zoogeography__description {
    padding-top: 0;
    margin: 0 auto;
    z-index: 1;
    background-color: #fff;
    height: 390px;
    border-radius: 15px;
  }
  .zoogeography__header {
    display: none;
  }
  .zoogeography__card {
    padding-top: 0;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    height: 390px;
  }
  .zoogeography__card-title {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 17px;
  }
  .zoogeography__card-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 203px;
    margin-top: 19px;
    margin-bottom: 38px;
  }
  .zoogeography__watch-button {
    padding-left: 66px;
  }
  .zoogeography__map {
    position: absolute;
    top: 32%;
    left: 1%;
    max-width: 94%;
  }
  .zoogeography__eagle-marker {
    top: 45%;
  }
  .zoogeography__alligator-marker {
    top: 49.5%;
  }
  .zoogeography__gorilla-marker {
    top: 59%;
  }
  .zoogeography__panda-marker {
    top: 49%;
  }

}

.footer {
  background-color: #0b0b0b;
  height: 766px;
}
.footer-wrapper {
  flex-direction: column;
  padding-top: 102px;
  padding-left: 11.3%;
  padding-right: 12.6%;
}
.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
}
.logos {
  display: flex;
  flex-direction: column;
  position: relative;
}
.logos__yd-title {
  position: absolute;
  top: 310px;
  width: 123px;
  height: 64px;
}
.logos__rss-title {
  position: absolute;
  width: 148px;
  height: 59px;
  top: 312px;
  left: 163px;
}
.logos__other-logo-img {
  margin-top: 189px;
}
.footer-nav {
  margin-right: 14.2%;
}
.footer-nav__list {
  margin-top: 0;
  list-style-type: none;
}
.footer-nav__header {
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 40px;
}
.footer-nav__elem {
  margin-bottom: 31px;
}

.footer-nav__items {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #bcbcbc;
  margin-bottom: 40px;
}
.footer-nav__items:hover {
  text-decoration: underline;
}
.support {
  width: 345px;
}
.support__header {
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.115em;
  text-align: left;
  color: #fcfcfc;
  margin-top: 1px;
}
.support__text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #bcbcbc;
  margin-top: 45px;
  margin-bottom: 41px;
}
.support__donate-link {
  text-decoration: none;
}
.support__donate-button {
  height: 61px;
  width: 339px;
  border-radius: 5px;
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fcfcfc;
  background: #0b0b0b;
  margin-bottom: 83px;
}
.support__donate-button:hover {
  opacity: 0.5;
}
.support__donate-text {
  text-align: center;
}
.support__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 355px;
}
.support__socials-link {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #bcbcbc;
  text-decoration: none;
}
.support__socials-link:hover {
  opacity: 0.5;
}
.footer__horizontal {
  width: 100%;
  height: 1px;
  background-color: #747474;
  margin-top: 114px;
  margin-bottom: 35px;
}
.copyrights {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}
.copyrights__copy,
.copyrights__designed {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  color: #bcbcbc;
}
@media (max-width: 1480px) {

  .footer-wrapper {
    padding-left: 3.3%;
    padding-right: 8%;
  }
  .logos__main-logo-img {
    width: 119px;
  }
  .logos__other-logo-img {
    margin-top: 98px;
  }
  .footer-nav {
    margin-right: 16%;    
  }
  .footer-nav__elem {
    margin-bottom: 30px;
  }
  .support__text {
    margin-bottom: 39px;
  }
  .support__donate-button {
    margin-bottom: 94px;
  }
  .support__socials {
    width: 379px;
  }
  .support__socials-link {
    letter-spacing: 1px;
  }
  .footer__horizontal {
    margin-top: 100px;
    margin-bottom: 25px;
    width: 105.5%;
  }
  .copyrights__designed {
    margin-right: -7%;
  }
  .logos__yd-title {
    top: 46%;
  }
  .logos__rss-title {
    left: 0;
  }

}
@media (max-width: 1199px) {
  .footer-wrapper {
    padding-top: 80px;
    padding-left: 2.8%;
    padding-right: 5%;
  }
  .footer-top-wrapper {
    flex-wrap: wrap;

  }
  .logos {
    width: 100%;
    flex-direction: row;
    height: 105px;
  }
  .logos__main-logo-img {
    width: 95px;
  }
  .logos__schools {
    margin: auto; 
    align-items: center;   
  }
  .logos__other-logo-img {
    margin: 0;
  }
  .logos__yd-title {
    top: 15%;
    left: 35%;
  }
  .logos__rss-title {
    top: 13%;
    left: 59%;
  }
  .footer-nav {
    margin-right: 0;
    margin-top: 31px;
  }
  .footer-nav__list {
    padding-left: 0;
  }
  .footer-nav__items {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
  }
  .support {
    margin-top: 30px;
    width: 381px;
    padding-right: 2%;
  }
  .support__text {
    margin-top: 29px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 335px;
  }
  .support__donate-button {
    width: 318px;
    margin-bottom: 51px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .support__socials {
    width: 368px;
  }
  .support__socials-link {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
  }
  .footer__horizontal {
    margin-top: 28px;
    margin-bottom: 6px;
    width: 101%;
  }
  .copyrights {
    padding-right: 0;
  }
  .copyrights__copy,
  .copyrights__designed {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    margin-right: -8px;
  }
}