
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto;  
  max-width: 1920px;
  padding-left: 76px;
  padding-right: 44px;
  margin-top: 44px;
}
.main-heading {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.menu {
  margin-left: 6.3%;
  width: 800px;
}
.menu__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  width: 100%;
  justify-content: space-between;  
  padding: 0;
}
.menu__item {
  font-family: Rubik;
  font-size: 18px;
  color: #080029;
  text-decoration: none;
  fill: solid;
}
.menu__item:hover {
  text-decoration: underline;
}
.menu__item_bold {
  font-weight: 500;
}
.menu__item_bold:hover {
  text-decoration: none;
}
.profile-icon {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}
.burger-menu {
  display: none;  
  flex-grow: 2; 
  justify-content: flex-end; 
}
.burger-menu__img {
  width: 55px;
  cursor: pointer;
}

@media (max-width: 1480px) {

.page-wrapper__content {
  padding-top: 32px;
}
.header {
  padding-right: 39px;
  padding-left: 54px;
  margin-top: 24px;
  height: 70px;
  }
  .logo_hidden-img  {
    width: 42px;
  }
.menu {
  margin-left: 86px;
  width: 680px;
}  
  
.profile-icon__img {
  width: 42px;
}

}

@media (max-width: 768px) {

  .header {
    padding-left: 13px;
    padding-right: 21px;
  }
  .burger-menu {
    display: flex;
  }
  .profile-icon {
    display: none;
  }
  .menu {
    display: none;
  }
  .logo_hidden {
    visibility: visible;
    width: 49px;
    padding-top: 3px;
  }

}

@media (max-width: 639px) {

  .page-wrapper__content {
    padding-top: 11px;
  }
  .header {
    padding-left: 12px;
    padding-right: 6px;
    border: none;
  }
  .logo_hidden {
    width: 38px;
  }
  .burger-menu__img {
    width: 38px;
  }
  .logo_hidden-img {
    width: 38px;
  }

}
.wrapper {
  padding-top: 122px;
  padding-bottom: 62px;
}
.oops {
  margin: 0 auto;
  max-width: 901px;
  padding-left: 17px;
  position: relative;
}
.oops__header {
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #080029;
}
.oops__text {
  color: #080029;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  padding-right: 10px;
  margin: 0;
}
.oops__button-wrap {
  width: 309px;
  height: 61px;
  background-color: #0f0049;
  border-radius: 5px;
  display: flex;
  margin: 49px auto;
}
.oops__button {
  text-decoration: none;
}
.oops__button-text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: auto;
}
.oops__button-wrap:hover {
  background-color: #080029;
}
.oops__button-wrap:active {
  background-color: #150068;
}
.oops__404 {
  position: absolute;
  font-family: Merriweather;
  font-size: 144px;
  font-style: normal;
  font-weight: 700;
  line-height: 181px;
  letter-spacing: 0em;
  text-align: center;
  color: #d9e8ff;
  top: -98%;
  left: 35.2%;
  z-index: -1;
}
@media (max-width: 1480px) {

  .wrapper {
    padding-top: 134px;
  }
  .oops {
    padding-left: 0;
  }
  .oops__header {
    font-size: 28px;
    line-height: 41px;
    margin-bottom: 30px;
  }
  .oops__text {
    font-size: 18px;
    line-height: 28px;
  }
  .oops__404 {
    font-size: 120px;
    line-height: 151px;
    left: 36.6%;
    top: -100%;
  }
  .oops__button-text {
    font-size: 16px;
    line-height: 19px;
  }
  .oops__button-wrap {
    width: 261px;
    height: 51px;
    margin-top: 40px;
  }

}

.video-wrap {
  margin: auto;
  max-width: 900px;  
  height: 507px;
  padding: 31px 10px 0px;
  
}
.video {
  margin: 0 auto;
  width: 100%;;
  height: 100%;
  border-radius: 5px;
  border: 0px;
}

@media (max-width: 1480px) {

  .video-wrap {
  max-width: 832px;
  height: 469px;
}

}

.support-404 {
  margin: 0 auto;  
  margin-top: 60px;
  max-width: 423px;
  padding-right: 14px;
}
.support-404__text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.support-404__link {
  color: #3888ff;
}

@media (max-width: 1480px) {

  .support-404 {
    padding-right: 0;
  }
  .support-404__text {
    font-size: 16px;
    line-height: 25px;
  }
  .wrapper {
    padding-bottom: 64px;
  }

}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
  padding-left: 12.7%;
  padding-right: 11%;
}
.footer {
  background-color: #0b0b0b;
  height: 766px;
  z-index: 2;
}
.footer-wrapper {
  flex-direction: column;
  padding-top: 102px;
  padding-left: 12.9%;
  padding-right: 11%;
}
.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
}
.logos {
  display: flex;
  flex-direction: column;
  position: relative;
}
.logos__yd-title {
  position: absolute;
  top: 310px;
  width: 123px;
  height: 64px;
}
.logos__rss-title {
  position: absolute;
  width: 148px;
  height: 59px;
  top: 312px;
  left: 163px;
}
.logos__other-logo-img {
  margin-top: 189px;
}
.footer-nav {
  margin-right: 14.2%;
}
.footer-nav__list {
  margin-top: 0;
  list-style-type: none;
}
.footer-nav__header {
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #fcfcfc;
  margin-bottom: 40px;
}
.footer-nav__elem {
  margin-bottom: 30px;
}

.footer-nav__items {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #bcbcbc;
  margin-bottom: 40px;
}
.footer-nav__items:hover {
  text-decoration: underline;
}
.support {
  width: 345px;
}
.support__header {
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.115em;
  text-align: left;
  color: #fcfcfc;
  margin-top: 1px;
}
.support__text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #bcbcbc;
  margin-top: 45px;
  margin-bottom: 41px;
}
.support__donate-link {
  text-decoration: none;
}
.support__donate-button {
  height: 61px;
  width: 339px;
  border-radius: 5px;
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fcfcfc;
  background: #0b0b0b;
  margin-bottom: 83px;
}
.support__donate-button:hover {
  opacity: 0.5;
}
.support__donate-text {
  text-align: center;
}
.support__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 355px;
}
.support__socials-link {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #bcbcbc;
  text-decoration: none;
}
.support__socials-link:hover {
  opacity: 0.5;
}
.footer__horizontal {
  width: 100%;
  height: 1px;
  background-color: #747474;
  margin-top: 114px;
  margin-bottom: 35px;
}
.copyrights {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}
.copyrights__copy,
.copyrights__designed {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  color: #bcbcbc;
}
@media (max-width: 1480px) {

  .footer {
    height: 720px;
  }
  .footer-wrapper {
    padding-left: 3.3%;
    padding-right: 8%;
  }
  .logos__main-logo-img {
    width: 119px;
  }
  .logos__other-logo-img {
    margin-top: 98px;
  }
  .footer-nav {
    margin-right: 16%;    
  }
  .footer-nav__elem {
    margin-bottom: 30px;
  }
  .support__text {
    margin-bottom: 39px;
  }
  .support__donate-button {
    margin-bottom: 94px;
  }
  .support__socials {
    width: 379px;
  }
  .support__socials-link {
    letter-spacing: 1px;
  }
  .footer__horizontal {
    margin-top: 100px;
    margin-bottom: 25px;
    width: 105.5%;
  }
  .copyrights__designed {
    margin-right: -7%;
  }
  .logos__yd-title {
    top: 46%;
  }
  .logos__rss-title {
    left: 0;
  }

}
@media (max-width: 1199px) {
  .footer-wrapper {
    padding-top: 80px;
    padding-left: 2.8%;
    padding-right: 5%;
  }
  .footer-top-wrapper {
    flex-wrap: wrap;

  }
  .logos {
    width: 100%;
    flex-direction: row;
    height: 105px;
  }
  .logos__main-logo-img {
    width: 95px;
  }
  .logos__schools {
    margin: auto; 
    align-items: center;   
  }
  .logos__other-logo-img {
    margin: 0;
  }
  .logos__yd-title {
    top: 15%;
    left: 35%;
  }
  .logos__rss-title {
    top: 13%;
    left: 59%;
  }
  .footer-nav {
    margin-right: 0;
    margin-top: 31px;
  }
  .footer-nav__list {
    padding-left: 0;
  }
  .footer-nav__items {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
  }
  .support {
    margin-top: 30px;
    width: 381px;
    padding-right: 2%;
  }
  .support__text {
    margin-top: 29px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 335px;
  }
  .support__donate-button {
    width: 318px;
    margin-bottom: 51px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .support__socials {
    width: 368px;
  }
  .support__socials-link {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
  }
  .footer__horizontal {
    margin-top: 28px;
    margin-bottom: 6px;
    width: 101%;
  }
  .copyrights {
    padding-right: 0;
  }
  .copyrights__copy,
  .copyrights__designed {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    margin-right: -8px;
  }
}
@media (max-width: 639px) {

  .footer-wrapper {
    padding-top: 60px;
  }
  .logos {
    flex-direction: column;
    width: 84px;
    height: 277px;
  }
  .logos__main-logo-img {
    width: 60px;
  }
  .logos__other-logo-img {
    margin-top: 95px;
  }
  .footer-nav {
    margin-top: 1px;
    padding-right: 24px;
  }
  .footer-nav__header {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
  }
  .footer-nav__elem {
    margin-bottom: 21px;
  }
  .footer-nav__items {
    font-size: 14px;
    line-height: 22px;
  }
  .support {
    margin-top: 38px;
  }
  .support__header {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0 auto;
  }
  .support__donate-button {
    width: 300px;
    height: 57px;
    display: flex;
    margin: 0 auto 37px;
  }
  .support__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 31px auto 30px;
  }
  .support__donate-text {
    font-size: 14px;
    line-height: 17px;
    margin: auto;
  }
  .support__socials {
    margin: 0 auto;
    width: 300px;
  }
  .support__socials-link {
    font-size: 14px;
    line-height: 17px;
  }
  .copyrights {
    flex-direction: column-reverse;
  }
  .copyrights__copy,
  .copyrights__designed {
    font-size: 11px;
    line-height: 16px;
  }
  .copyrights__copy {
    margin: 0;
  }
  .copyrights__designed {
    margin-bottom: 8px;
  }
  .footer__horizontal {
    margin-top: 35px;
    margin-bottom: 10px;
  }


}
