.game-end {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.game-end__errors {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: red;
}