
.button {
  border-radius: 5px;
  font-size: 14px;
  cursor: not-allowed;
  color: #2196f3;
  border: 2px solid white;
  transition: 0.2s;
  text-transform: uppercase;
  font-weight: bold;
}

.box-shadow {
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  cursor: pointer;
}

.button:active {
  box-shadow: none;
}